body {
    font-family: Arial, sans-serif;
    background-color: #f5a7b4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #333;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

img {
    max-width: 90%;
    height: auto;
}

.text-box {
    position: relative;
    max-width: 300px;
    margin-left: auto;
    margin-right: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    overflow: hidden;
}

.typing {
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 1.6;
}

.text-box.visible {
    opacity: 1;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



area {
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    html {
        font-size: 14px;
    }
    body {
        background-color: #1ad182;
    }
    div {
        width: 95%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 15px;
    }
    body {
        background-color: #FF9800;
    }
    div {
        width: 85%;
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 16px;

    }
    body{
        background-color: #e0e0e0;
    }
    div{
        width: 75%;
    }
    
}
img {
    max-width: 100%; 
    height: auto;
}
    svg {
        max-width: 100%; 
        height: auto;
    }
    rect {
        fill: transparent; 
        stroke: rgb(29, 2, 2);
        stroke-width: 2;
    }
    rect:hover {
        fill: rgba(255, 124, 124, 0);
    }
