* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    text-align: justify;
}

div {
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
}
@media screen and (max-width: 400px) {
    html {
        font-size: 14px;
    }
    body {
        background-color: #1ad182;
    }
    div {
        width: 95%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 15px;
    }
    body {
        background-color: #FF9800;
    }
    div {
        width: 85%;
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 16px;

    }
    body{
        background-color: #e0e0e0;
    }
    div{
        width: 75%;
    }
    
}
img {
    max-width: 100%; 
    height: auto;
}
    svg {
        max-width: 100%; 
        height: auto;
    }
    rect {
        fill: transparent; 
        stroke: rgb(29, 2, 2);
        stroke-width: 2;
    }
    rect:hover {
        fill: rgba(255, 124, 124, 0);
    }
